<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="ja">
<head>
  <title>{% block title %}Twitter clone{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

  <style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  header {
    height: 64px;
  }

  main {
    flex: 1 0 auto;
  }

  section {
    margin-top: 1.5em;
  }

  #dropdown__account {
    margin-top: 64px;
  }
  </style>

</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'tweet:index' %}" class="brand-logo center">Twitter?</a>

        <ul class="right">
          <li>
            <a href="{% url 'tweet:index' %}" >
              <i class="material-icons left">insert_comment</i>
            </a>
          </li>

          <li>
            <a href="{% url 'tweet:who_to_follow' %}" >
              <i class="material-icons left">person_add</i>
            </a>
          </li>

          <li>
            <a class="dropdown-button" href="#!"
               data-activates="dropdown__account">
              <i class="material-icons left">account_circle</i>
              {{ request.user.username }}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>

      </div>
    </nav>
    <ul id="dropdown__account" class="dropdown-content">
      <li>
        <a href="{% url 'accounts:logout' %}">logout</a>
      </li>
    </ul>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>$(".dropdown-button").dropdown({ hover: false });</script>
  {% render_bundle 'main' %}

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © Copyright
      </div>
    </div>
  </footer>
</body>
</html>


