{% extends 'tweet/base.html' %}

{% block content %}
<section>
  <div class="container">
    <div id="content">

      <div>
        <strong>follows:</strong>

       {% for acc in follows %}
          <div class="chip">
            {{ acc.name }}
          </div>
        {% endfor %}
      </div>

      <div>
        <strong>followers:</strong>

        {% for acc in followers %}
        <div class="chip">
          {{ acc.name }}
        </div>
        {% endfor %}
      </div>


      <div id="root"></div>

    </div>
  </div>
</section>
{% endblock %}
